language: cpp
compiler:
    - clang
    - gcc
dist: trusty
install:
    - sudo apt-get update -qq
    - sudo apt-get -o Dpkg::Options::="--force-confnew" upgrade -qq
    - sudo apt-get install libtinyxml-dev -y

#Build steps
script:
    - mkdir build
    - cd build
    - cmake ..
    - cmake --build .
